.DetailCard {
  display: flex;
  width: 100%;
  margin: 5% 0 5% 0;
}
.Card {
  width: 20%;
  height: 300px;
  margin: 2% 5% 0 7%;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
}
.CardImage {
  width: 60%;
  height: 200px;
}
.CardText {
  margin: 1% 5% 0% 5%;
  color: #3f0071;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
